<!DOCTYPE html>
<html lang="en">
<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section">
            <h4>Contact</h4>
            <ul>
                <li>Sebastian Hiller</li>
                <li><a href="mailto:sebastian.hiller@unibe.ch">sebastian.hiller@unibe.ch</a></li>
                <!--<li><a href="tel:+41316848821">+41 31 684 88 21</a></li>-->
            </ul>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/Content/programme.html">Programme</a></li>
                <li><a href="/Content/Scientific/participants.html">Participants</a></li>
                <li><a href="/Content/Scientific/talks.html">Talks</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Important Information</h4>
            <ul>
                <li><a href="/Content/Social/survey.html">Activity Signup</a></li>
                <li><a href="/Content/Information/directions.html">Directions</a></li>
                <li><a href="/Content/Information/travel.html">Travel</a></li>
            </ul>
        </div>
        <div class="footer-logos">
            <img src="/Images/workshop-logo.png" alt="Workshop Logo" class="footer-logo">
            <img src="/Images/logo_unibern.png" alt="University Logo" class="footer-logo">
        </div>
    </div>
</footer>
</html>