<!DOCTYPE html>
<html lang="en">
    <header class="hero">
        <div class="hero-content">
            <h1 class="conference-title">
                <span class="title-line">Spectral Theory and Applications in Mathematical Physics, STAMP</span>
                <span class="title-line">- a Workshop in Honour of Christiane Tretter -</span>
            </h1>
            <div class="conference-details">
                <p class="date">June 2-5, 2025</p>
                <p class="location">Uni Bern, Bern, Switzerland</p>
            </div>
        </div>
        <!-- <img src="../../../Images/workshop-logo-tilted.png" alt="Workshop Logo" class="hero-logo"> -->
        <div class="hero-pattern"></div>
    </header>
</html>