/* Navigation */

table.navigation{width:90%; text-align: center; margin-left:-15px;}
td.navigation{font-size:1.5em; white-space:nowrap; width:100px; text-align:center; vertical-align:middle; padding:0px 0px 0px 0px;}
